__pycache__/
*.pyc
.env
venv/
.venv/
*.egg-info/
dist/
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
terraform/terraform.tfvars
terraform/terraform.tfvars.staging
terraform/terraform.tfvars.prod
